@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Sedikit sentuhan halus pada garis edge React Flow */
.react-flow__edge-path {
  stroke-linecap: round;
}
